/* *COMMON CSS STARTS HERE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

a{
    text-decoration: none;
}
body{
    font-family:arial ;
    height:4000px;
}

ul,li{
    list-style: none;
}
.container{
    width: 1170px;
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
}


/* *COMMON CSS ENDS HERE */

#scroll{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #444;
}

.scroll{
    width: 80px;
    height: 80px;
    border-radius:50%;
    background: conic-gradient(red, red 50%, green 50%);
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
}

.sub{
    

   
    width: 60px;
    height: 60px;

    border-radius: 50%;

    text-align: center;
    line-height: 75px;
    font-size: 20px;
    font-family: sans-serif;

}